# ======================
# OS files
# ======================
.DS_Store

# ======================
# Java / Maven
# ======================
target/
*.log

# ======================
# Kafka / TLS / Secrets
# ======================
*.pem
*.key
*.cert
*.p12
*.jks
*.b64
*.oneline
*.env

# ======================
# IDEs
# ======================
.idea/
.vscode/
*.iml

# ======================
# Maven wrapper (optional cache)
# ======================
.mvn/wrapper/maven-wrapper.jar


# ======================
# IDE (Eclipse / STS)
# ======================
.classpath
.project
.settings/

# ======================
# Spring Initializr
# ======================
HELP.md
