apiVersion: apps/v1
kind: Deployment
metadata:
  name: batch-kafka-service
  namespace: ${ENV}
spec:
  replicas: ${REPLICAS}
  selector:
    matchLabels:
      app: batch-kafka-service
  template:
    metadata:
      labels:
        app: batch-kafka-service
    spec:
      containers:
        - name: batch-kafka-service
          image: ${IMAGE_URI}
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: ${ENV}
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: ${KAFKA_BOOTSTRAP_SERVERS}
          envFrom:
            - secretRef:
                name: kafka-certs
